<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
</head>
<link th:href="@{/assets/css/select/bootstrap-select.min.css}" rel="stylesheet" media="screen">
<script th:src="@{/assets/js/select/bootstrap-select.js}"></script>
<script th:src="@{/assets/js/select/defaults-zh_CN.js}"></script>
<body>
<div th:replace="navbar::navbar"></div>
<div class="main-container" id="main-container">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                首页
            </li>
            <li>
                <i class="icon-table home-icon"></i>
                用户列表
            </li>
        </ul>
    </div>
    <div  style="margin-top: 4px;margin-bottom: 4px">
        <div class="col-sm-10">

            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">用户名:</span>
                    <input id="username" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-sm btn-success" onclick="searchTable()">
                    <i class="icon-search align-top bigger-125"></i>
                    查询
                </button>
                <button class="btn btn-sm btn-warning" onclick="rest()">
                    <i class="icon-undo align-top bigger-125"></i>
                    重置
                </button>
            </div>

        </div>


    </div>
    <div  style="margin-top: 4px;margin-bottom: 4px">
        <div class="col-sm-4">
            <button class="btn btn-sm btn-primary" onclick="toAdd()">
                <i class="icon-plus align-top bigger-125"></i>
                添加用户
            </button>
            <button class="btn btn-sm btn-danger" onclick="doDel()">
                <i class="icon-trash align-top bigger-125"></i>
                删除用户
            </button>
        </div>
    </div>

    <div class="table-responsive" style="width:100%">

        <table id="myTable" style="width:100%" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center" style="width: 20px"></th>
                <th class="center" style="width: 20px">
                    <label>
                        <input id="CK" type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th style="width: 100px">用户名</th>
                <th style="width: 100px">实名</th>
                <th style="width: 100px">省</th>
                <th style="width: 100px">市</th>
                <th style="width: 100px">县</th>
                <th style="width: 100px">企业</th>
                <th style="width: 100px">粮库</th>
                <th style="width: 100px">用户等级</th>
                <th style="width: 100px">操作</th>
            </tr>
            </thead>
        </table>

    </div>


    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
</body>
</html>


<script type="text/javascript">
    var theTable;
    function selectOnchang(o) {
        //获取全部打钩的check的值
        //$('#myTable th input:checkbox:checked')
        console.log($('#myTable').bootstrapTable("getChecked"))
    }
    $(document).ready(function () {
        $("#city").bootstrapSelect({
            url: '/graindepot-user/tableListPost',
            type: 'POST',
            valueField: 'id',
            textField: 'username',
            onSelect: function (value, item) {
                $("#userid").bootstrapSelect({
                    url: '/userById',
                    type: 'GET',
                    valueField: 'id',
                    textField: 'username',
                    param: {id: value}
                });
            }
        });

        query();

    });


    function query(param) {
        theTable = $('#myTable').bootstrapTable({
            //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
            ajax: {
                url: "/graindepot-user/user/list/page",
                data: param,
                type: "GET"
            },
            columns: [
                {data: "username"},
                {data: "relname"},
                {title: "省", data: "provincename"},
                {title: "市", data: "cityname"},
                {title: "县", data: "countyname"},
                {title: "企业", data: "companyname"},
                {title: "粮库", data: "graindepotname"},
                {
                    title: "用户等级",
                    data: "userlevel",
                    render: function (data, type, row) {
                        if (data + "" == "1") {
                            return "国家级"
                        } else if (data + "" == "2") {
                            return "省级"
                        } else if (data + "" == "3") {
                            return "市级"
                        } else if (data + "" == "4") {
                            return "县级"
                        } else if (data + "" == "5") {
                            return "集团"
                        } else if (data + "" == "6") {
                            return "企业"
                        } else if (data + "" == "7") {
                            return "库点"
                        } else {
                            return "其他"
                        }

                    }
                },
                {
                    data: "userid",
                    render: function (data, type, row) {
                        return '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">' +
                                '<a class="green" href="javascript:toEdit(' + data + ')"' +
                                ' title="编辑" ' +
                                '>' +
                                '<i class="icon-pencil bigger-130"></i>' +
                                '</a>' +
                                '<a class="blue" href="javascript:toDetail(' + data + ')"' +
                                'title="详情"' +
                                '>' +
                                '<i class="icon-eye-open bigger-130"></i>' +
                                '</a>' +
                                '</div>';

                    }
                }
            ]
        });
    }

    function searchTable() {
        theTable.destroy();
        query(getParam());
    }
    function getParam() {
        var param = {};
        param.username = $("#username").val();
        return param
    }

    function rest() {
        $("input").val("");
        $("select").val("");
        //触发change事件
        $("select").trigger("change");
        searchTable();
        //$("#city").find("option[value = '"+"']").attr("selected","selected");//jq改变select的选中值

    }


    function doDel() {
        console.log($('#myTable').bootstrapTable("getChecked"));
        var checkedList = $('#myTable').bootstrapTable("getChecked");
        if (checkedList.length==0) {
            $.bootstrapBox.alert.init({message: "请选择需要删除的行"});
            return
        }
        $.bootstrapBox.confirm.init({
            message: "确认删除？",
            callback: function (result) {
                if (result) {
                    //删除用户
                    debugger;
                    var ids = checkedList.map(function (curr) {
                        return curr.userid
                    });
                    $.post("/graindepot-user/user/del", {ids:ids.join(",")}, function (result) {
                        $.bootstrapBox.alert.init({
                            message: result.message
                        });
                        $("#myTable").bootstrapTable("reload");
                    })

                }

            }
        });

    }

    function toAdd() {
        $.bootstrapBox.dialog.init({
            title: "新增用户",
            url: "/graindepot-user/page/user/edit",
            width: '800px',
            height: '600px'
        })
    }

    function toEdit(id) {
        $.bootstrapBox.dialog.init({
            title: "修改用户",
            url: "/graindepot-user/page/user/edit?id=" + id,
            width: '800px',
            height: '600px'
        })
    }


    function toDetail(userid) {
        $.bootstrapBox.dialog.init({
            title: "用户详情",
            url: "/graindepot-user/page/user/detail/" + userid,
            width: '1300px',
            height: '600px'
        })
    }


    function toSave(result) {
        $.bootstrapBox.dialog.close();
        $.bootstrapBox.alert.init({
            message: result.message
        });
        $("#myTable").bootstrapTable("reload")
    }

</script>
