<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhoubi.graindepot.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhoubi.graindepot.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ID" property="id" jdbcType="INTEGER"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="updateUser" parameterType="Map" resultType="Integer">
        UPDATE m_user set
        username=#{username}
        where id=#{where_id}
    </select>

    <select id="listUser" resultType="UserBean">
        select * from m_user
    </select>
    <!--通过用户名获取当前用户，在session里面添加登录用户信息，登录专用-->
    <select id="userByUsername" parameterType="String" resultType="UserBean">
        select * from m_user
        where 1=1 and username=#{username}
    </select>
    <sql id="page_template">
        <if test="orders != null">
            order by
            <foreach collection="orders" item="order" separator=",">
                ${order}
            </foreach>
        </if>
        limit #{offset},#{pageSize}
    </sql>
    <select id="selectPageList" parameterType="Map" resultType="UserBean">
        select * from m_user
        where 1=1
        <if test="username!=null">and username like #{username}</if>
        <include refid="page_template"/>
    </select>

    <select id="selectPageCount" parameterType="Map" resultType="int">
        select count(*) from m_user t where 1=1
        <if test="username!=null">and username like #{username}</if>
    </select>

</mapper>